body {
  background-image: url(https://paulinnka.neocities.org/background_wave_lightmode.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  color: #781130;
  margin-left: 20px;
}
