body {
  background-image: url(https://media.tenor.com/mLslFWSc_NsAAAAd/cherry.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  color: navy;
  margin-left: 20px;
}
